.thumb-image{float:left;width:50px;padding:5px;}

.botao-file{
    position: relative;
    overflow: hidden;

}

.botao-file input[type="file"]{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    transform: scale(2);
}

#image-holder div{
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
}

#image-holder div img{
    width: 100%;
    height: 100%;
}

#image-holder div span{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    color: #000;
    transition: .5s ease;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

#image-holder div span:hover{
    box-shadow: 0 2px 4px rgba(0,0,0,.35);
}

