<div class="container">
    <section class="row">

        <div id="divBusca" class="col-sm-6">
            <input type="text" id="textBusca" class="form-control" placeholder="Buscar..." ng-model="busca"/>
        </div>
        <!-- Button trigger modal -->
        <div class="col-sm-6">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="cadPalavra()">
                Nova palavra
            </button>
        </div>
        <div class="row"></div>


        <div class="col-sm-6">
            <table class="table table-bordered " style= "margin-top:40px; ">
                <thead>
                <tr>

                    <th data-field="palavra">Palavra</th>
                    <th data-field="significado">Significado</th>
                    <th></th>
                    <th></th>

                </tr>

                </thead>
                <tbody>
                <tr ng-repeat="palavra in palavras | orderBy : 'palavra'| filter:busca" ng-click="info(palavra)">


                    <td >{{palavra.palavra}}</td>
                    <td >{{palavra.significado}}</td>
                    <td > <a ng-click="editar(palavra.id)"> <i class="fa fa-pencil" aria-hidden="true"></i></a> </td>
                    <td > <a ng-click="excluir(palavra.id)"> <i class="fa fa-trash" aria-hidden="true"></i></a> </td>
                </tr>

                </tbody>
            </table>

        </div>



        <div class="col-sm-6" ng-model="informacoes" style="margin-top: 35px;">
           <label>Palavra: </label> {{informacoes.palavra}}
            <br/>
            <label>Tradução: </label><br/>{{informacoes.significado}}

        </div>





    </section>
</div>