<div class="container">
    <section style="width:100%">

        <div id="divBusca" class="col-sm-3">
            <input type="text" id="textBusca" class="form-control" placeholder="Buscar..." ng-model="busca"/>
        </div>



        <table class="table" style= "margin-top:40px;">
            <thead>
            <tr>
            <th data-field="id">ID</th>
            <th data-field="palavra">Palavra</th>
            <th data-field="significado">Significado</th>

            </tr>

            </thead>
            <tbody>
            <tr ng-repeat="palavra in palavras | filter:busca">

                <td >{{palavra.id}} </td>
                <td >{{palavra.palavra}}</td>
                <td >{{palavra.significado}}</td>
                <td > <a ng-click="editar(palavra.id)">{{palavra.id}} <i class="fa fa-pencil" aria-hidden="true"></i></a> </td>
                <td  class="deleteRowButton" align="center"><i class="fa fa-trash" aria-hidden="true"></i> </td>
            </tr>

            </tbody>
        </table>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-click="cadPalavra()">
            Nova palavra
        </button>


    </section>
</div>