<!DOCTYPE html>
<html lang="en">

	<script type="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="jquery-3.1.0.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Usuários</title>
</head>



<script>
	
</script>

<body>
<form>
	<label>Nome</label> 
	<input type="text" id="txtNome" placeholder="Informe seu nome">
	<br></br>
	<label>CPF</label> 
	<input type="text" id="txtCPF" placeholder="Informe seu CPF">
	<br></br>
	<label>Login</label> 
	<input type="text" id="txtLogin" placeholder="Informe seu e-mail">
	<br></br>
	<label>Senha</label>
	<input type="password" id="txtSenha" placeholder="Crie uma senha">
	<br></br>
	<input type="button" id="btSalvar" value="Salvar"/>
	<input type="button" id="btNovo" value="Novo"/>

	
</form>
</body>
</html>