<html ng-app="dicionarioApp" >
<head>

    <title>Dicionario</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>




    <script src="./js/angular.min.js"></script>
    <script src="./js/angular-route.js"></script>


    <script src="./js/app.js"></script>
    <script src="./js/main-controller.js"></script>

</head>
<body ng-controller="mainController">



<div ng-view="ng-view">
    <a href="#/filesForm">Upload de Imagens</a>
</div>
</body>
</html>
