<html ng-app="dicionarioApp" >

<head>
    <base href="/" />
    <title>Dicionario</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script src="./js/jquery.min.js"></script>
    <script src="./js/angular.min.js"></script>
    <script src="./js/angular-route.js"></script>



    <link rel="stylesheet" type="text/css" href="./recursos/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="./recursos/font-awesome/css/font-awesome.min.css"/>
    <script stype="text/java" src="./recursos/bootstrap/js/bootstrap.js"></script>


    <script src="./js/app.js"></script>
    <script src="./js/controller/index-controller.js"></script>
    <script src="./js/controller/paginaPrincipal-controller.js"></script>
    <script src="./js/controller/usuario-controller.js"></script>




</head>
<body ng-controller="mainController">
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/pagina-principal">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="/cad-usuario">Cadastar Usuário</a></li>
                <li><a href="#">Sair</a></li>
            </ul>
        </div>
    </nav>
</header>

<div ng-view="ng-view" style="margin-top: 70px;">

</div>
</body>
</html>
